@model UpdateEstateVM

@{
    ViewData["Ttile"] = "Update an Estate";
}
<div class="container">
    <form asp-action="Update" asp-controller="Estate" method="post" enctype="multipart/form-data">
        <input hidden asp-for="@Model.Id" />
        <!-- Location -->
        <div class="form-row row">
            <div class="  col-md-12" style="font-size: larger; margin-bottom:1rem;margin-top:1rem">
                <h2>Location</h2>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Governorate"></label>
                <select asp-for="Governorate" class="form-select" asp-items="@Model.SelectGovernorate">
                </select>
                <span asp-validation-for="Governorate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="City"></label>
                <input asp-for="City" type="text" class="form-control" id=" " placeholder=" " />
                <span asp-validation-for="City" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Street"></label>
                <input asp-for="Street" type="text" class="form-control" id=" " placeholder=" " />
                <span asp-validation-for="Street" class="text text-danger"> </span>
            </div>
        </div>
        <!--End Location -->
        <!--General Information -->
        <div class="form-row row">
            <div class="  col-md-12" style="  margin-bottom:1rem;margin-top:1rem">
                <h2>General Information</h2>
            </div>
            <div class="form-group col-md-6 mb-2">
                <label asp-for="Category" class="form-label mt-4"></label>
                <select asp-for="Category" class="form-select" asp-items="@Model.SelectCategory" data-placeholder="Select a Category">
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 mb-2">
                <label asp-for="MethodPay" class="form-label mt-4">Select Method Pay</label>
                <select asp-for="MethodPay" class="form-select" asp-items="@Model.SelectMethodPay">
                </select>
                <span asp-validation-for="MethodPay" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 mb-2">
                <label asp-for="LegalType" class="form-label mt-4"></label>
                <select asp-for="LegalType" class="form-select" asp-items="@Model.SelectLegalType" data-placeholder="Select a Category">
                </select>
                <span asp-validation-for="LegalType" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 mb-2">
                <label asp-for="CompleteBuildingState" class="form-label mt-4">Select Method Pay</label>
                <select asp-for="CompleteBuildingState" class="form-select" asp-items="@Model.SelectCompleteBuildingState">
                </select>
                <span asp-validation-for="CompleteBuildingState" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-2">
                <label asp-for="Area"></label>
                <input asp-for="Area" type="number" class="form-control" placeholder=" " /> <span>Square Meters </span>
                <span asp-validation-for="Area" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-4 mb-2">
                <label asp-for="Price"></label>
                <input asp-for="Price" type="number" class="form-control" placeholder=" " /> <span>Dollars</span>
                <span asp-validation-for="Price" type="number" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-4 mb-2">
                <label asp-for="NFloor">Number of Floor</label>
                <input asp-for="NFloor" class="form-control" />
                <span asp-validation-for="NFloor" class="text text-danger"> </span>
            </div>

            <div class="form-group col-md-6 mb-2">
                <label asp-for="Name">Select Specific Name For Your Property</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text text-danger"> </span>
            </div>

            <!--End General Information -->
            <!--Specific Information -->
            <div class="form-row row">
                <div class="  col-md-12" style="font-size: larger; margin-bottom:1rem;margin-top:1rem">
                    <h2>Specific Information</h2>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-lg-3  mb-2">
                        <label asp-for="NRoom">Number of Rooms</label>
                        <input asp-for="NRoom" class="form-control" />
                        <span asp-validation-for="NRoom" class="text text-danger"> </span>
                    </div>
                    <div class="form-group col-md-6 col-lg-3  mb-2">
                        <label asp-for="NBedroom">Number of BedRooms</label>
                        <input asp-for="NBedroom" class="form-control" />
                        <span asp-validation-for="NBedroom" class="text text-danger"> </span>
                    </div>
                    <div class="form-group col-md-6 col-lg-3  mb-2">
                        <label asp-for="NBath">Number of Baths</label>
                        <input asp-for="NBath" class="form-control" />
                        <span asp-validation-for="NBath" class="text text-danger"> </span>
                    </div>
                    <div class="form-group col-md-6 col-lg-3  mb-2">
                        <label asp-for="NLivingRoom">Number of Living Room</label>
                        <input asp-for="NLivingRoom" class="form-control" />
                        <span asp-validation-for="NLivingRoom" class="text text-danger"> </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-lg-3  mb-2">
                        <label asp-for="NReceptionRoom">Number of Reception Room</label>
                        <input asp-for="NReceptionRoom" class="form-control" />
                        <span asp-validation-for="NReceptionRoom" class="text text-danger"> </span>
                    </div>
                    <div class="form-group col-md-6 col-lg-3  mb-2">
                        <label asp-for="NBalcone">Number of Balcones</label>
                        <input asp-for="NBalcone" class="form-control" />
                        <span asp-validation-for="NBalcone" class="text text-danger"> </span>
                    </div>
                    <div class="form-group col-md-6 col-lg-3  mb-2">
                        <label asp-for="NGarage">Number of Garages</label>
                        <input asp-for="NGarage" class="form-control" />
                        <span asp-validation-for="NGarage" class="text text-danger"> </span>
                    </div>
                    <div class="form-group col-md-6 col-lg-3  mb-2">
                        <label asp-for="NKitchen">Number of Kitchens </label>
                        <input asp-for="NKitchen" class="form-control" />
                        <span asp-validation-for="NKitchen" class="text text-danger"> </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-lg-3 mb-2">
                        <label asp-for="NFoodRoom">Number of Food Room </label>
                        <input asp-for="NFoodRoom" class="form-control" />
                        <span asp-validation-for="NFoodRoom" class="text text-danger"> </span>
                    </div>
                    <div class="form-group col-md-6 col-lg-3  mb-2">
                        <label asp-for="NDepot">Number of Depot</label>
                        <input asp-for="NDepot" class="form-control" />
                        <span asp-validation-for="NDepot" class="text text-danger"> </span>
                    </div>
                </div>


                <div class="form-group mb-2">
                    <label asp-for="ExtraFeatures"></label>
                    <textarea asp-for="ExtraFeatures" class="form-control"></textarea>
                    <span asp-validation-for="ExtraFeatures" class="text text-danger"> </span>
                </div>
            </div>
            <!--End Specific Information -->
            <!--Available -->
            <div>
                <div class="mt-2">
                    <h4>Your Property Is Available   </h4>
                </div>
                <div>
                    <div class="form-group">
                        <label asp-for="ForRent"> For Rent</label>
                        <input asp-for="ForRent" type="checkbox" />
                        <span asp-validation-for="ForRent" class="text text-danger"> </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ForSale">  For Sale</label>
                        <input asp-for="ForSale" type="checkbox" />
                        <span asp-validation-for="ForSale" class="text text-danger"> </span>
                    </div>
                </div>
            </div>

            <!--Your Connection Data -->
            <div class="form-row row mt-4">
                <div class="  col-md-12" style="  margin-bottom:1rem;margin-top:1rem">
                    <h4>Add Some Data To Connection   </h4>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-lg-6   mb-2">
                        <label asp-for="OwnerName"> Owner Name</label>
                        <input asp-for="OwnerName" />
                        <span asp-validation-for="OwnerName" class="text text-danger"> </span>
                    </div>
                    <div class="form-group col-md-6   mb-2">
                        <label asp-for="OwnerPhone"> Owner Phone Number</label>
                        <input asp-for="OwnerPhone" />
                        <span asp-validation-for="OwnerPhone" class="text text-danger"> </span>
                    </div>
                </div>
            </div>
            <!--End Your Connection Data -->
            <!--Images -->
            <div class="form-row row mt-4 mb-3">
                <div class="  col-md-12" style="  margin-bottom:3rem;margin-top:3rem">
                    <h4>   Images For Your Property</h4>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3 ">
                        <label asp-for="FormCover"> Add Main Cover</label>
                        <input asp-for="FormCover" type="file" class="form-control-file" />
                        <span asp-validation-for="FormCover" class="text text-danger"> </span>
                    </div>
                    @*  <div class="mt-4 mb-3">
                    <p style="display:inline">If You Want To Manage Other Estate Images</p>
                    <a asp-action="UpdateEstateImages" asp-route-estateId="@Model.Id" class="btn btn-primary">Click Here</a>
                    </div> *@
                </div>

                <div class="col-sm-12 col-md-6 d-flex justify-content-center pt-4 overflow-hidden">
                    <img class="cover-preview m-auto " src="data:image/*;base64,@(Convert.ToBase64String(Model.Cover))" alt="Cover" style="width: inherit" />
                </div>

            </div>
            <!--End Images -->
            <!--Map -->
            <div class="mt-4">
                <h4>Add Your Property Location On Map</h4>
                <p>Just Click on Map then Submit the Location , if You did not Pass this Step Successfully Just Contuct Us to get Help by Click <a asp-action="">Here</a> </p>
                <div class="form-row row">
                    <!-- Reference to the Bing Maps SDK -->
                    <script type='text/javascript'
                            src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=[ArTYnXAo5ajG1e4ZyFIV-LT3sW_IU0Uy2YETN7N-u5EdkJOaOwaft6BOA1SPlVfA]'
                            async defer>
                    </script>
                    <div class="col-md-12" id="myMap" style='position:relative;height:400px;' onload="GetMap();"></div>
                    <div id="typlatcord" hidden> </div>
                    <div id="typlongcord" hidden> </div>

                    <div class="row">
                        <div class="form-group col-md-6 col-lg-3 mb-2">
                            <label asp-for="longitude">  </label>
                            <input id="lat" asp-for="longitude" class="form-control " style="margin-right:1rem;" />
                            <span asp-validation-for="longitude" class="text text-danger"> </span>
                        </div>
                        <div class="form-group col-md-6 col-lg-3  mb-2">
                            <label asp-for="latitude"></label>
                            <input id="long" asp-for="latitude" class="form-control" />
                            <span asp-validation-for="latitude" class="text text-danger"> </span>
                        </div>
                    </div>

                </div>
            </div>
            <!--End Map -->
            <button type="submit" class="btn btn-primary">Save And Finish</button>
    </form>

</div>


<script type='text/javascript'>
    function GetMap() {

        //You can customize the map as you load it.
        // Use the following code to update how the map is loaded in the GetMap function such that it sets the type to aerial,
        // the zoom level to 10, and the map center over London, UK (51.50632, -0.12714).
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'ArTYnXAo5ajG1e4ZyFIV-LT3sW_IU0Uy2YETN7N-u5EdkJOaOwaft6BOA1SPlVfA',
            center: new Microsoft.Maps.Location(35.340192118895025, 35.93475407561252),
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: 10
        });


        //////////////////Pushpins, sometimes known as MapIcons or Markers,
        // are the primary method in the Bing Maps V8 Map Control to add a graphical image and text at a location within the map.
        //Create custom Pushpin
        // هنا يمكننا وضع الاحداثيات بدل سينتر لتثبيت ماركر

        var myloc = new Microsoft.Maps.Location(35.340192118895025, 35.93475407561252);
        var pin = new Microsoft.Maps.Pushpin(myloc, {
            color: 'red',
            title: 'Jableh',
            subTitle: 'City Center',

        });
        //Add the pushpin to the map
        map.entities.push(pin);


        ///////////////Converting the C# Model to JS model
        // convsert the data base table to Array in json type
        var myHome = @Html.Raw(Json.Serialize(Model));
        var location = new Microsoft.Maps.Location(myHome.longitude, myHome.latitude);
        var pin = new Microsoft.Maps.Pushpin(location, {
            color: 'green',
            title: 'My Home',
        });
        map.entities.push(pin);

        ///////////////// التقاط احداثيات عند النقر
        Microsoft.Maps.Events.addHandler(map, 'click', function (e) {
            map.entities.clear(); // for delete past pushpin
            var location = e.location;
            var latitude = location.latitude;
            var longitude = location.longitude;
            //draw Marker
            var myloc = location;
            var pin = new Microsoft.Maps.Pushpin(myloc, {
                color: 'blue',
                title: 'My Home',
            });
            // Add the pushpin to the map
            map.entities.push(pin);
            // print Coordinates in Div s
            document.getElementById('typlatcord').textContent = longitude;
            document.getElementById('typlongcord').textContent = latitude;
            // print Coordinates in Input Form
            document.getElementById('long').value = longitude;
            document.getElementById('lat').value = latitude;
            // print Coordinates in Console
            console.log('الإحداثيات: ' + location.latitude + ', ' + location.longitude);


        });
    } // end of Getmap()



</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#FormCover').on('change', function () {
                $('.cover-preview').attr('src', window.URL.createObjectURL(this.files[0])).removeClass('d-none');
            });
        });
    </script>

}